<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirection</title>
</head>
<body>
    <h1>Hello</h1>

    <form action="/" method="POST">
        <input type="text" name="title" placeholder="Title" class="field" required>

        <input type="text" name="description" placeholder="Description" class="field">

        <input type="text" name="url" placeholder="URL" class="field" required>

        <button>Salvar</button>
    </form>
</body>
</html>